---
version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "monthly"
    target-branch: "master"
    labels:
      - "dependencies"
      - "maven"
    groups:
      maven-minor-patch:
        update-types:
          - "minor"
          - "patch"
