name: Build, Test & Release

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
  pull_request:
    types: [ opened, synchronize ]

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Установка JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Сборка и тесты
        run: mvn clean package -U -ntp

      - name: Проверка code style
        run: mvn spotless:check

      - name: Создание GitHub Release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v2
        with:
          # для демонстрации использую .original а не просто .jar чтобы не занимать место uber jar-ом (~60 МБ)
          files: |
            target/*.jar.original
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
